@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h1>Sample Text</h1>
<h2>Tryout hotReload</h2>
<h3>Not working</h3>
<h4>2nd Tryout HotR eload</h4>
<p>nice!</p>